@charset "ISO-8859-1";

/* body { */
/* 	background : #333EFF; */
/* 	margin: 15px; */
/* 	margin-top:50px;  */
/* } */

.login-form,
.login-form * {
	box-sizing: border-box;
	font-family: sans-serif;
}

.login-form {
	max-width: 350px;
    margin: 0 auto;
    border-radius: 5px;
    overflow:hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0,0.15);
    
    padding: 15px;
    background: #335FFF;
}

.login-form__logo-container {
	padding: 30px;
	background: rgba(0, 0, 0, 0.25);
}

.login-form_ _logo {
	display: block;
	max-width: 125px;
	margin: 0 auto
}