<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
          <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<meta charset="ISO-8859-1">
<meta charset="ISO-8859-1">
<title>product manager</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" >
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img th:src="@{/images/logo.png}"  src="../static/images/logo.png" width="auto" height="40" class="d-inline-block align-top" alt=""/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/cart}" href="cart">View-cart</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/logout}" href="#">logout</a>
                </li>

            </ul>

        </div>
    </div>
</nav>
<section class="ftco-section">
		<div class="container">
		<div align="center">
    <h1>Orders</h1><br>
    <br>
<!--     <a href="newcart">Create new cart</a> -->
			<div class="row justify-content-center">
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table">
					    <thead class="thead-primary">
					      <tr>
					        <th>Order Id</th>
					        <th>Product Name</th>
					        <th>Description</th>
					         <th>Category</th>
					        <th>Price</th>
					       <th>Quantity</th>
					       
					       
					      </tr>
					      </thead>
					      <tr th:each="order : ${listOrders}">
                <td th:text="${order.id}">Cart id</td>
                <td th:text="${order.name}">Product Name</td>
                <td th:text="${order.description}">Description</td>
                <td th:text="${order.category}">Category</td>
                <td th:text="${order.price}">Price</td>
                <td th:text="${order.quantity}">Quantity</td>
               
			        </tr>
						      <tr>
					        <th width="100">&emsp;&emsp; </th>
					        <th>&emsp; </th>
					         <th>&emsp;&emsp;
					         &emsp;&emsp;&emsp;
					         &emsp;&emsp;&emsp;</th>
					        
              	      </table>
					      </div>
					      </div>
					      </div>
					      </section>
					      
					      
					 
</body>
</html>