<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
          <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Category Manager</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" >
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img th:src="@{/images/logo.png}"  src="../static/images/logo.png" width="auto" height="40" class="d-inline-block align-top" alt=""/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/Admin}" href="adminhome">admin-home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/logout}" href="#">logout</a>
                </li>

            </ul>

        </div>
    </div>
</nav>

<section class="ftco-section">
		<div class="container">
		<div align="center">
    <h1>Category List</h1><br>
    <br>
<td><a href="/newcategory" class="btn btn-primary">Create New Category</a><br><br>
			<div class="row justify-content-center">
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table">
					    <thead class="thead-primary">
					      <tr>
					        <th>Category Id</th>
					        <th>Name</th>
					        <th>Actions</th>
					      </tr>
					    </thead>
					    <tbody>
					      <tbody>
            <tr th:each="category : ${listCategory}">
                <td th:text="${category.id}">Category ID</td>
                <td th:text="${category.name}">Name</td>
				<td><a th:href="@{'/editcategory/' + ${category.id}}" class="btn btn-primary">Edit</a>
					         &nbsp;&nbsp;&nbsp;
			        <a th:href="@{'/deletecategory/' + ${category.id}}" class="btn btn-danger">Delete</a></td>
					    </tr>
					    </tbody>
					    </table>
					    </div>
					    </div>
					    </div>
					    </div>
					    </div>
					    </section>
            
            
</body>
</html>