<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="/css/style.css" />
  <title>Ecommerce Website</title>
</head>
<body>
<div class="header">
    <div class="container">
      <div class="navbar">
        <div class="logo">
          <a href="index.html"><img src="images/logo.png" alt="RedStore" width="125px" /></a>
        </div>
        <nav>
          <ul id="MenuItems">
          
            <li><a th:href="@{/home}">Home</a></li>
            <li><a th:href="@{/index}">Products</a></li>
             <li><a th:href="@{/about}">About</a></li>
            <li><a th:href="@{/contact}">Contact</a></li>
            <li><a th:href="@{/edituser}">Profile</a></li>
            <li><a th:href="@{/edituser}">Account</a></li>
          </ul>
        </nav>
        <a href="cart.html"><img src="images/cart.png" alt="" width="30px" height="30px" /></a>
       
      </div>
      <div class="row">
        <div class="col-2">
          <h1>
            Give Your Workout <br />
            A New Style!
          </h1>
          <p>
            Success isn't always about greatness. It's about consistency.
            Consistent <br />hard work gains success. Greatness will come.
          </p>
          <a href="#" target="_blank" rel="noopener noreferrer" class="btn">Explore Now &#8594;</a>
        </div>
        <div class="col-2">
          <img src="images/image1.png" alt="" />
        </div>
      </div>
    </div>
  </div>

<div class="offer">
    <div class="small-container">
      <div class="row">
        <div class="col-2">
          <img src="https://i.ibb.co/HF5TncZ/exclusive.png" alt="" class="offer-img" />
        </div>
        <div class="col-2">
          <p>Exclusively Available on Sandbox</p>
          <h1>Smart Band 4</h1>
          <small>The Mi Smart Band 4 features a 39.9% larger (than Mi Band 3)
            AMOLED color full-touch display with adjustable brightness, so
            everything is clear as can be.</small>
          <br />
          <a href="#" class="btn">Buy Now &#8594;</a>
        </div>
      </div>
    </div>
  </div>

    <!-- brands -->
  <div class="brands">
    <div class="small-container">
      <div class="row">
        <div class="col-5">
          <img src="https://i.ibb.co/Gfwzz1S/logo-godrej.png" alt="" />
        </div>

        <div class="col-5">
          <img src="https://i.ibb.co/vjrRZFM/logo-oppo.png" alt="" />
        </div>

        <div class="col-5">
          <img src="https://i.ibb.co/3zs234S/logo-coca-cola.png" alt="" />
        </div>

        <div class="col-5">
          <img src="https://i.ibb.co/7Wt343W/logo-paypal.png" alt="" />
        </div>

        <div class="col-5">
          <img src="https://i.ibb.co/GVSNwJD/logo-philips.png" alt="" />
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-col-1">
          <h3>Download Our App</h3>
          <p>Download App for Android and iso mobile phone.</p>
          <div class="app-logo">
            <img src="https://i.ibb.co/KbPTYYQ/play-store.png" alt="" />
            <img src="https://i.ibb.co/hVM4X2p/app-store.png" alt="" />
          </div>
        </div>

        <div class="footer-col-2">
          <img src="images/logo.png" alt="" />
          <p>
            Our Purpose Is To Sustainably Make the Pleasure and Benefits of
            Sports Accessible to the Many.
          </p>
        </div>

        <div class="footer-col-3">
          <h3>Useful Links</h3>
          <ul>
            <li>Coupons</li>
            <li>Blog Post</li>
            <li>Return Policy</li>
            <li>Join Affiliate</li>
          </ul>
        </div>

        <div class="footer-col-4">
          <h3>Follow us</h3>
          <ul>
            <li>Facebook</li>
            <li>Twitter</li>
            <li>Instagram</li>
            <li>YouTube</li>
          </ul>
        </div>
      </div>
      <hr />
      <p class="copyright">Copyright &copy; 2022 - SANDBOX</p>
    </div>
  </div>
</body>

</html>

