<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<title>login Page</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" >
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img th:src="@{/images/logo.png}"  src="../static/images/logo.png" width="auto" height="40" class="d-inline-block align-top" alt=""/>
            
        </a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/register}" href="register">Register</a>
                </li>
                

            </ul>

        </div>
    </div>
</nav>
<section>

              <div class="container p-5">
                    <div class="row">
                      <div class="col-md-6 offset-md-3">
                          <div class="card">
                          <div class="card-header text-center fs-4"><b>Login page</b></div>
                          
                          <div th:if="${param.error}" class="alert alert-danger">
                          Invalid username & Password</div>
                          
                          <div th:if="${param.logout}" class="alert alert-success">
                          Logout Sucessfully</div>
                          
                          <div class="card-body">
                          <form action="/login" method="post">
                          <div class="mb-3">
                          <label>Enter Email </label>  <input type="text"
                          name="username" class="form-control">
                         </div>
                          
                          <div class="mb-3">
                          <label>Enter Password </label>  <input type="text"
                          name="password" class="form-control">
                         </div>
                         
  <button class="btn btn-primary col-md-12">Submit</button> 
                         </form>
                         </div>
                         </div>
                         </div>
                         </div>
                         </div>
                         </section>
</body>
</html>