<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
          <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<meta charset="ISO-8859-1">
<meta charset="ISO-8859-1">
<title>product manager</title>
</head>
    <body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" >
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img th:src="@{/images/logo.png}"  src="../static/images/logo.png" width="auto" height="40" class="d-inline-block align-top" alt=""/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/cart}" href="cart">View-Cart</a>
                </li>
               
            </ul>

        </div>
    </div>
</nav>
    
        <div class="container">
                   <form action="#" th:object="${cart}"
            method="post">
              <img src="images/mobile.jpg" alt="Nature" class="responsive1" width="100%">
              <div class="row">
                <div class="col-sm-3">
                  <div class="card hericard">
                    <img class="card-img-top" src="images/mobile1.jpg" alt="Card image" style="width:100%" height="220px">
                    <div class="card-body">
                      <h4 class="card-title">Sony with 5.4 inch</h4>
                      <p class="card-text"><b>Brand:</b>Sony<br><b>Model:</b><br>Sony A20<b>Color</b>: Redish Black<br><b>Cost</b>:<strike>25,000</strike><br><b>RS:2200 only</b></p>
                      <a th:href="@{/cartsony}" href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="card hericard">
                    <img class="card-img-top" src="images/mobile2.jpg" alt="Card image" style="width:100%" height="220px">
                    <div class="card-body">
                      <h4 class="card-title">Real with 5.5 inch</h4>
                      <p class="card-text"><b>Brand:</b>RealMe<br><b>Model</b>: A30<br><b>Color</b>: peach green<br><b>Cost</b>:<strike>40,000</strike><br><b>RS:3500 only</b></p>
                      <a th:href="@{/cartsony1}" href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="card hericard">
                    <img class="card-img-top" src="images/mobile3.jpg" alt="Card image" style="width:100%" height="220px">
                    <div class="card-body">
                      <h4 class="card-title">Vivo with 3.8 inch</h4>
                      <p class="card-text"><b>Brand:</b>Vivo<br><b>Model</b>: CPH25<br><b>Color</b>: Blue<br><b>Cost</b>:<strike>28,000</strike><br><b>RS:2500 only</b></p>
                      <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                  </div>
                </div>
               
                
                </form>
                </div>
            
            
         
           
            
</body>
</html>