<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<title>Create New Category</title>
<style type="text/css">
 label {
 display: inline-block;
 width: 100px;
 margin: 5px;
 text-align: Left;
 }
 
 input[type=text], input[type=password], select{
 display: inline-block;
 width: 200px;
 }</style>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" >
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img th:src="@{/images/logo.png}"  src="../static/images/logo.png" width="auto" height="40" class="d-inline-block align-top" alt=""/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/Admin}" href="adminhome">admin-home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/logout}" href="#">logout</a>
                </li>

            </ul>

        </div>
    </div>
</nav>
 <div align="center">
        <h1>Create New Product</h1>
        <br>
        <form action="#" th:action="@{/saveproduct}" th:object="${product}"
            method="post">
         
      <table border="0" cellpadding="10">
                <tr>
                    <td>Product Name:</td>
                    <td><input type="text" th:field="*{name}" /></td>
                </tr>
               
                 <tr>
                    <label>Category:</label>
                    <select th:field="*{category}">
                    <option th:each="p : ${brand}" th:value="${p.name}" th:text="${p.name}" />
                    </select>
                    
                   
                </tr>
                <tr>
                    <td>Description:</td>
                    <td><input type="text" th:field="*{description}" /></td>
                </tr>
                <tr>
                    <td>Price:</td>
                    <td><input type="text" th:field="*{price}" /></td>
                </tr>   
                
                <tr>
                    <td>Stock:</td>
                    <td><input type="number" th:field="*{stock}" /></td>
                </tr>                           
                
            </table>
            
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
       

  
   

          
                
               
                  
</body>
</html>