<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
          <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.07);
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
</style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary" >
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img th:src="@{/images/logo.png}"  src="../static/images/logo.png" width="auto" height="40" class="d-inline-block align-top" alt=""/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        
    </div>
</nav>



<br>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="/images/headsets.png" alt="Jane" style="width:50%">
      <div class="container">
        <h2>Headsets</h2>
        <p><button class="btn btn-primary">Shop Now</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/images/mobiles.jpg" alt="Jane" style="width:50%">
      <div class="container">
        <h2>Mobiles</h2>
          <a href="#" th:href="@{/listpro}" class="card-link btn btn-primary">Shop Now</a>
      </div>
    </div>
  </div>
  
  
    
    <div class="column">
    <div class="card">
      <img src="/images/tv1.jpg" alt="Jane" style="width:50%">
      <div class="container">
      <br>
        <h2>Smart Tv</h2>
        <p><button class="btn btn-primary">Shop Now</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="/images/speaker1.jpg" alt="Jane" style="width:50%">
      <div class="container">
        <h2>Speakers</h2>
         <p><button class="btn btn-primary">Shop Now</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="/images/Ac.jpg" alt="Jane" style="width:50%">
      <div class="container">
        <h2>Ac</h2>
        <p><button class="btn btn-primary">Shop Now</button></p>
      </div>
    </div>
  </div>
  
   
   
   <div class="column">
    <div class="card">
      <img src="/images/tv3.jpg" alt="Jane" style="width:50%">
      <div class="container">
        <h2>Smart Tv</h2>
        <br>
        <p><button class="btn btn-primary">Shop Now</button></p>
      </div>
    </div>
  </div>
  </div>
  
  
  
  <div class="column">
    <div class="card">
      <img src="/images/laptops.jpg" alt="Jane" style="width:50%">
      <div class="container">
        <h2>laptops</h2>
        <br>
        <p><button class="btn btn-primary">Shop Now</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="/images/speaker3.jpg" alt="Jane" style="width:60%">
      <div class="container">
        <h2>Bluetooth</h2>
         <p><button class="btn btn-primary">Shop Now</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="/images/mobile.jpg" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Mobiles</h2>
        <p><button class="btn btn-primary">Shop Now</button></p>
      </div>
    </div>
  </div>
  
   </div>
</body>
</html>
